<div class="thumbnail">
  <%= image_tag image.file.thumb.url, :title => image.title? ? image.title : 'не задано', :alt => image.alt? ? image.alt : 'не задано'  %>
  <ul class="info">
    <li class="truncated">
      <strong>Название:</strong> <%= image.title? ? image.title : 'не задано' %>
    </li>
    <li class="truncated">
      <strong>Описание:</strong> <%= image.description? ? image.description : 'не задано' %>
    </li>
  </ul>
</div>
