<div class="item <%= carousel_active_class(index) %>">
  <%= image_tag image.file.large.url, :title => image.title? ? image.title : 'не задано', :alt => image.alt? ? image.alt : 'не задано'  %>
  <div class="carousel-caption">
    <%= image.title? ? image.title : 'не задано' %>
  </div>
</div>
